.AuthForm__container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 400px;
    height: 500px;

    margin: 50px auto;

    background-color: white;
    padding-bottom: 20px;
}

.AuthForm__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 88%;
    margin: 0 auto;
}

.AuthForm__options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    margin-top: 10px;
    height: 25px;
}

.authForm__heading1 {
    margin-top: 100px;
    margin-bottom: 60px;
}


.MR0 {
    margin-right: 0;
}

.ML0{
    margin-left: 0;
}

.MarginLeft {
    margin-left: 50px;
}
.MarginRight {
    margin-right: 50px;
}

@media (max-width: 780px) {
    .AuthForm__container {
        width: 80vw;
    }

    .AuthForm__form {
        width: 90%;
    }
}


@media (max-width: 500px) {
    .AuthForm__container {
        width: 100vw;
    }

    .AuthForm__form {
        width: 90%;
    }

    .commonInputDesign {
        width: 90vw
    }


}