.AuthForm__container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 50vw;

    margin: 50px auto;

    background-color: white;
}

.AuthForm__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
}

.AuthForm__options {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 780px) {
    .AuthForm__container {
        width: 80vw;
    }

    .AuthForm__form {
        width: 90%;
    }
}