.LoginForm__container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100vw;
    height: 100vh;

    border-top: 10px solid aquamarine;

    
    background-color: white;
}

.LoginForm__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 88%;
    margin: 0 auto;
}

.LoginForm__heading1 {
    margin-top: 80px;
    margin-bottom: 80px;
}
